.footer {
  margin-top: 150px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #212b31;
  text-transform: uppercase;
}
.footer__icon {
  width: 22px;
  height: 33px;
  margin-right: 8px;
}
.footer__title {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #212b31;
  margin-bottom: 20px;
}
.footer__link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #72787d;
  margin-top: 10px;
}

.footer__address,
.footer__tell,
.footer__email {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #72787d;
}

.footer__email,
.footer__address_city {
  display: block;
}

.footer__copy {
  margin-top: 160px;
}
.footer__hr {
  color: #dadedf;
  margin-bottom: 32px;
}

.footer__copytext {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* text-align: left; */
  color: #72787d;
  display: flex;
  justify-content: space-between;
}
